<footer>
  <div class="footerLine">&nbsp;</div>
  <div class="navBox">
    <ul class="footerNav">
      <li><a href="https://github.com/giancarlo-k" target="_blank">GitHub</a></li>
      <li><a href="https://giancarlo-k.github.io" target="_blank">GitHub.io</a></li>
      <li><a href="https://giancarlo-k.github.io/web215/index.html" target="_blank">WEB215.io</a></li>
      <li><a href="https://www.freecodecamp.org/giancarlo_k" target="_blank">freeCodeCamp</a></li>
      <li><a href="https://www.codecademy.com/profiles/giancarlo_k" target="_blank">Codecademy</a></li>
      <li><a href="https://jsfiddle.net/user/giancarlo_k/fiddles/" target="_blank">JSFiddle</a></li>
      <li><a href="https://www.linkedin.com/in/giancarlo-kite-6844661b8/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
  <div class="footerLine">&nbsp;</div>
  <img class="taglineImg" src="images/taglineImg.png">
  <div class="designedBy">
    Designed by Giancarlo Kite 
  </div>    
  <div class="validationButtons">
    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fgiancarlo-k.github.io%2Fweb215%2Fcontract" target="_blank">HTML Validation</a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fgiancarlo-k.github.io%2Fweb215%2Fcontract&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" target="_blank">CSS Validation</a>
  </div>
</footer>