<header>
  <h1>Giancarlo Kite's Gentle Koala | WEB215</h1>
  <div class="footerLine">&nbsp;</div>
  <nav>
    <ul>
      <li><a href="https://giancarlo-k.github.io/web215/index.html">Home</a></li>
      <li><a href="https://giancarlo-k.github.io/web215/introduction.html">Introduction</a></li>
      <li><a href="https://giancarlo-k.github.io/web215/contract.html">Contract</a></li>
      <li><a href="https://giancarlo-k.github.io/web215/brand.html">Brand</a></li>
      <li><a href="https://giancarlo-k.github.io/web215/introduction_form.html">Intro Form</a></li>
    </ul>
  </nav>
  <div class="footerLine">&nbsp;</div>
</header>