/* COLORS 
Matcha - #4e825e 
Pistache - #B3B792
Vanilla - #E5D2B8 
Almond - #E5E0D8 *
Chai - #D2AB80
Carob - #725C3A 
*/

body {
  font-family: 'Noto Sans Gurmukhi', sans-serif;
  padding: 1vh;
  background: #E5E0D8; 
}

header, h2, .designedBy, .validationButtons, footer {
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: -1vh;
}

.designedBy {
  margin-top: 3vh;
  justify-self: center;
  align-self: center;
}

footer {
  margin-top: 3vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.validationButtons {
  justify-content: space-around;
  width: 20%;
  margin-top: 1.5vh;
}

nav ul a {
  color: black;
}

a:not(nav ul a, .footerNav > li > a), a:not(nav ul a, .footerNav > li > a) {
  color: #4e825e;
  transition: 0.1s;
}

a:hover:not(nav ul a, .footerNav > li > a), a:focus:not(nav ul a, .footerNav > li > a) {
  color: rgb(0, 171, 74);
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
align-items: center;
justify-content: space-around;
width: 100%;
margin-right: 2.5vh;
}


header nav ul {
list-style: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.navBox {
  width: 80%;
  font-size: 18px;
  text-decoration: none;
}

.footerNav > li {
  display: inline;
  margin-right: 2.5vh;
}

.footerNav > li > a, nav ul a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 11px;
  border-radius: 6%;
  transition: 0.1s;
}

.footerNav > li > a:hover, nav ul a:hover {
  background-color: #b3b79271;
  text-shadow: 1px 1px 5px white;
  text-decoration: underline;
}

.footerNav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.footerLine {
  background-color: #B3B792;
  width: 90%;
  height: 1.5px;
  border-radius: 29%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainRectangle {
  border: 1.25px solid gray;
  border-radius: 0.8%;
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 2vh 5vh;
  align-items: center;
  background-color: #E5D2B8;
  min-height: 70vh;
}

.mainRectangle p {
  max-width: 100%;
}

.colorScheme {
  margin-top: 2.5vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fontContainer {
  margin-top: 5vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.brandP {
  font-size: 24px;
}

.colorsBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.colorsBox > div {
  width: 70px;
  height: 70px;
  margin: 15px;
  border-radius: 100%;
  border: 1px solid rgba(57, 57, 57, 0.142);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.colorsBox > div > p {
  position: relative;
  margin-top: 120px;
  font-size: 14px;
}

.color1 {
  background: #4e825e;
}

.color2 {
  background: #B3B792;
}

.color3 {
  background: #E5D2B8;
}

.color4 {
  background: #D2AB80;
}

.color5 {
  background: #E5E0D8;
}

.colorsBox > div:hover {
  border: 1px solid black;
}

.twoFontBoxes {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font1Box, .font2Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

.fontName {
  font-size: 19px;
}

.font2Box {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.taglineImg {
  margin-top: 4vh;
}