/* COLORS 
Matcha - #4e825e 
Pistache - #B3B792
Vanilla - #E5D2B8 
Almond - #E5E0D8 *
Chai - #D2AB80
Carob - #725C3A 
*/

body {
  font-family: 'Noto Sans Gurmukhi', sans-serif;
  padding: 5vh;
  background: #E5E0D8;
  padding: 3vh;
}

header, h2, .designedBy, .validationButtons, footer {
  display: flex;
  justify-content: center;
}

.designedBy {
  margin-top: 5vh;
}

footer {
  margin-top: 7vh;
  flex-direction: column;
  align-items: center;
}

.validationButtons {
  justify-content: space-around;
  width: 60%;
  margin-top: 5vh;
}

nav ul a {
  color: black;
}

a:not(nav ul a, .footerNav > li > a), a:not(nav ul a, .footerNav > li > a) {
  color: #4e825e;
  transition: 0.1s;
}

a:hover:not(nav ul a, .footerNav > li > a), a:focus:not(nav ul a, .footerNav > li > a) {
  color: rgb(0, 171, 74);
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
align-items: center;
justify-content: space-around;
width: 100%;
margin-right: 2.5vh;
}


header nav ul {
list-style: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.navBox {
  width: 80%;

  font-size: 18px;
  text-decoration: none;
}

.footerNav > li {
  display: inline;
  margin-right: 2.5vh;
}

.footerNav > li > a, nav ul a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 11px;
  border-radius: 6%;
  transition: 0.1s;
}

.footerNav > li > a:hover, nav ul a:hover {
  background-color: #b3b79271;
  text-shadow: 1px 1px 5px white;
  text-decoration: underline;
}

.footerNav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.footerLine {
  background-color: #B3B792;
  width: 90%;
  height: 1.5px;
  border-radius: 29%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main p {
  width: 90%;
}

.validationButtons {
  justify-content: space-around;
  width: 50%;
  margin-top: 1vh;
  margin-right: 2.5vh;
}

.mainRectangle {
  border: 1.25px solid gray;
  border-radius: 0.8%;
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 5vh;
  align-items: center;
  background-color: #E5D2B8;
  min-height: 10vh;
}

.mainRectangle p {
  max-width: 100%;
}